flask
openai-whisper
torch
numpy
soundfile
ollama
gTTS

pypdf
langchain
chromadb # Vector storage
pytest
boto3

transformers
accelerate
sentencepiece
edge-tts
gunicorn 
gunicorn 

# "langchain<0.2" 
sentence-transformers 
faster-whisper        # optional but strongly recommended for fast transcription
faiss-cpu            # optional for faster similarity, not required
docx2txt

# winget install ffmpeg
